.menu{
    display: flex;
    gap: 72px;
    font-size: 1.25rem;
}
.menu li{
    border-bottom: 3px solid transparent;
    transition: border-color .5s;

}
.menu li:hover{
    border-bottom: 3px solid var(--primary-color);

}